/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Noto Sans JP', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
.container{
    width: 1040px;
    margin: 0 auto;

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* Header */
.header{
    background-color: rgb(121, 12, 194);
}
.header-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(22, 172, 22);
    font-size: 15px;
    font-weight: 700;
}

.nav1{
    padding:0 20px;
}
.nav2{
    padding-right: 20px;
}
header h3{
    font-size: 20px;
    color: white;
    padding:20px 0;
    font-weight: 700;
}
/* main */
.body-article1{
    background-color: rgb(121, 12, 194);

}
.article1{
    flex: 0 1 45%;
    margin: 100px 0;
}
.verticle{
    border-left: 1px dashed white; 
            height: 150px;
}
h2{
    font-size: 24px;
    color: white;
    padding: 20px 0;
    font-weight: 700;
    line-height: 1cm;

}
.article1-para{
    font-size: 12px;
    line-height: 0.7cm;
    color: white;
    font-weight: 700;
}
.get-btn{
    background-color: rgb(7, 146, 123);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
}
.article2{
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding: 20px 0;
}
.article1 p{
    font-size: 15px;
    line-height: 0.7cm;
}
.tick p{
    display: inline-block;
    padding: 10px;
}
.tick span{
    color: rgb(7, 146, 123);
    font-weight: 700;
}
.verticle1{
    border-left: 1px dashed black; 
            height: 200px;
}
.para{
    padding: 0 20px;
    
}
.learn-btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 0;
}
/* section2 image */
.article3{
    flex: 0 1 55%;
    align-items: center;
}
.article3-img{
    flex: 0 1 40%;
    align-items: center;
}
.article3-img img{
    width: 100%;
    margin-top: 50px;
}
.article3 h4{
    font-size: 20px;
    font-weight: 700px;
    margin: 20px 0;

}
.article3 p{
    font-size: 13px;
    line-height: 0.7cm;

}
.details-btn{
   
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 30px;
        display: inline-block;
        margin: 20px 0;
    
}
/* section3 */
.footer-btm{
    text-align: center;
    margin: 20px 0;
    margin-bottom: 70px;
}
.btm{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 0;
    align-items: center;
}
.footer-section h3{
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 48, 48, 0.815);
    margin: 20px 0;

}
/* .span{
    display: flex;

}
.span span{
    
    border: 1 px solid black;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    color: gray;

} */
.image{
    width: 15px;
    height: 10px;
    margin: 10px 0;
    vertical-align: middle;
}
.flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information, .footer-section{
    flex: 0 1 45%;
}
.information{
    align-self: flex-start;
    margin-top: 20px;
}
.span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}
.span1{
    flex: 0 1 100%;
    color: rgb(187, 185, 185);
    padding: 10px;
    border: 1px solid rgb(179, 174, 174);
    margin-right: 10px;

}
.message{
    color: rgb(187, 185, 185);
    padding: 10px;
    border: 1px solid rgb(206, 200, 200);
    margin-right: 20px;
    margin: 10px 0;
    height: 150px;
}
.verticle-footer{
    border-left: 1px dashed black; 
    height: 200px;
}
.information span, p{
    font-size: 12px;
    color: gray;
}
.footer-section p{
    color: gray;
    line-height: 0.7cm;
    font-size: 12px;
    
}
.send-btn{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border: 1px solid rgb(173, 164, 164);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px 0;
    display: inline-block;

}
/* footer */
footer{
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
    color: rgb(128, 120, 120);
}